Repository Succery-dev/Qube, pull requests merged in 2023-06, with the labels that each got.

#64 Add a button for lancers to verify and approve projects with their wallets
  frontend/assets/Icon-Notification-Error.svg
  frontend/assets/Icon-Notification-Success.svg
  frontend/assets/Icon-Notification-Warning.svg
  frontend/assets/index.ts
  frontend/components/Notification.tsx
  frontend/components/index.ts
  frontend/components/project/3d/Logo3D.tsx
  frontend/components/project/CreateProjectForm.tsx
  frontend/components/project/ProjectScaffold.tsx
  frontend/constants/index.ts
  frontend/context/Notification.tsx
  frontend/context/Project.tsx
  frontend/context/index.ts
  frontend/interfaces/index.ts
  frontend/interfaces/notificationContextInterface.ts
  frontend/interfaces/project/index.ts
  frontend/interfaces/project/typeDataDomainInterface.ts
  frontend/pages/_app.tsx
  frontend/pages/projectDetail.tsx
  frontend/utils/motion.ts
Labels: prio:ASAP, type:frontend

#70 Fix the dashboard contents temporarily for the final pitch
  frontend/constants/mockData.ts
  frontend/pages/dashboard/[walletAddress].tsx
Labels: prio:ASAP, type:frontend

#71 Add comma to big numbers
  frontend/components/dashboard/Table.tsx
Labels: prio:low, type:frontend

#74 Add the whitelist feature when connecting a wallet
  frontend/components/Navbar.tsx
  frontend/constants/index.ts
Labels: prio:low, type:backend

#76 Chage the wallet to dark theme
  frontend/components/Navbar.tsx
  frontend/package.json
  frontend/pages/_app.tsx
Labels: prio:normal, type:frontend

#78 Kunal137/fix #75
  frontend/components/Navbar.tsx
  frontend/components/project/3d/Logo3D.tsx
  frontend/package.json
Labels: prio:high, type:backend, type:bug

#86 Create "Supported by" section in HP
  frontend/components/hp/Support.tsx
  frontend/components/hp/index.ts
  frontend/components/index.ts
  frontend/constants/index.ts
  frontend/interfaces/hp/index.ts
  frontend/interfaces/hp/support.ts
  frontend/interfaces/index.ts
  frontend/pages/index.tsx
  frontend/public/images/djt.jpg
  frontend/public/images/gumi.jpg
Labels: prio:normal, type:frontend

#88 modify QubePay logo as per issue-#82
  frontend/.gitignore
  frontend/layout/mainLayout.tsx
  frontend/public/images/3d/Logo.gltf
  frontend/public/images/logo.png
Labels: prio:ASAP, type:frontend

#92 Add "Inc." after the support company names and change the links to English ver. HP
  frontend/components/hp/Support.tsx
  frontend/constants/index.ts
  frontend/interfaces/hp/support.ts
Labels: prio:ASAP, type:frontend

#89 Change the name "QubePay(QP)" -> "Qube(Q)"
  frontend/components/Navbar.tsx
  frontend/components/hp/CurrentSystemProblems.tsx
  frontend/components/hp/Footer.tsx
  frontend/constants/index.ts
  frontend/layout/mainLayout.tsx
Labels: prio:ASAP, type:frontend

#93 Error on Vercel "const { connectors } = getDefaultWallets({"
  frontend/pages/_app.tsx
Labels: prio:ASAP, type:bug

#109 Change the title
  frontend/components/hp/IntroSection.tsx
Labels: prio:ASAP, type:frontend

#110 Change the copyright in the footer
  frontend/components/hp/Footer.tsx
  frontend/constants/index.ts
Labels: prio:ASAP, type:frontend

#111 Change to "With Qube"
  frontend/components/hp/CurrentSystemProblems.tsx
  frontend/pages/index.tsx
Labels: prio:ASAP, type:frontend

#112 Change the first part (left) of "With Qube"
  frontend/assets/Ellipse-70.svg
  frontend/assets/Escrow.svg
  frontend/assets/index.ts
  frontend/components/hp/CurrentSystemProblems.tsx
  frontend/constants/index.ts
  frontend/interfaces/hp/currentSystemProblems.ts
Labels: prio:ASAP, type:frontend

#113 Change the second part (middle) of "With Qube"
  frontend/assets/Community.svg
  frontend/assets/DollarDownArrow.svg
  frontend/assets/index.ts
  frontend/constants/index.ts
Labels: prio:ASAP, type:frontend

#114 Change the third part (right) of "With Qube"
  frontend/assets/API.svg
  frontend/assets/Ellipse-25-17.svg
  frontend/assets/index.ts
  frontend/constants/index.ts
Labels: prio:ASAP, type:frontend

#115 Add "using smart contract"
  frontend/constants/index.ts
Labels: prio:ASAP, type:frontend

#116 Change "Smart Contract" to "NFT Gateway"
  frontend/constants/index.ts
Labels: prio:ASAP, type:frontend

#117 Change the icon of "Features/NFT Gateway"
  frontend/assets/NFT-Gated.svg
  frontend/assets/Smartcontract-Icon.svg
  frontend/assets/index.ts
  frontend/constants/index.ts
Labels: prio:ASAP, type:frontend

#118 Unify the word "lancer" to "freelancer"
  frontend/components/hp/IntroSection.tsx
  frontend/constants/index.ts
Labels: prio:ASAP, type:frontend

#97 The contents on HP don't appear
  frontend/pages/_app.tsx
Labels: prio:ASAP, type:bug

#83 Kunal137/feature submit project
  frontend/.gitignore
  frontend/assets/Icon-Upload-File.svg
  frontend/assets/index.ts
  frontend/components/Navbar.tsx
  frontend/components/index.ts
  frontend/components/project/CreateProjectForm.tsx
  frontend/components/project/Dropbox.tsx
  frontend/components/project/ProjectScaffold.tsx
  frontend/components/project/SubmitProjectModal.tsx
  frontend/components/project/index.ts
  frontend/enums/index.ts
  frontend/interfaces/index.ts
  frontend/interfaces/project/index.ts
  frontend/interfaces/project/submitDeliverablesInterface.ts
  frontend/package.json
  frontend/pages/projectDetail.tsx
  frontend/styles/globals.css
  frontend/utils/index.ts
  frontend/utils/project/uploadDeliverables.ts
Labels: prio:high, type:backend, type:frontend

#121 Build Failed Error on Vercel
  frontend/pages/createProject.tsx
Labels: prio:high, type:bug

#123 Fix the redirect to dashbaord from HP
  frontend/components/Navbar.tsx
Labels: prio:low, type:bug
